
.card {
    background-color: #000000;
    border: none;
    user-select: none;
    -webkit-user-drag: none;
}



.card-title {
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    user-select: none;
    -webkit-user-drag: none;
}


